.movieList  {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 0;
  overflow: hidden; /* Ensure only the visible cards are shown */
  width: 100%;
}

.movieList  .carousel-btn {
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  padding: 0 10px;
  z-index: 1;
}

.movieList  .carousel-btn:disabled {
  color: #ddd;
  cursor: not-allowed;
}

.movieList  .carousel-track {
  display: flex;
  transition: transform 0.3s ease-in-out; /* Smooth transition for sliding */
  gap: 20px;
}

.movieList .image-card {
  width: 200px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.movieList  .image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.movieList  .image-card h3 {
  position: absolute;
  bottom: 60px;
  left: 10px;
  font-size: 16px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
}

.movieList  .image-card p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  font-size: 12px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  margin: 0;
}

.movieList  .see-more {
  font-size: 14px;
  color: #f0f0f0;
  cursor: pointer
}

.movieList  .see-more:hover {
  text-decoration: underline;
}

.movieList  .error {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}