.multiCard .scroll-container {
  position: relative;

}

.multiCard .custom-control-prev,
.multiCard .custom-control-next {
  position: absolute;
  top: 50% !important;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.multiCard .custom-control-prev {
  left: 0;
}

.multiCard .custom-control-next {
  right: 0;
}

.multiCard .horizontal-scroller {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 0 50px;
  scroll-behavior: smooth;
}

.multiCard .genre-card-wrapper {
  flex-shrink: 0;
}
