.register{
    height:100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.8)), url('../../assets/Images/Register.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center ;
    background-attachment:fixed;
    width:100%;
}